.bi-arrow-up-square-fill {
	cursor: pointer;
}
#print-btn{
	transform: rotate(90deg) translate(115px, -35px);
}
.page-break-clear {
	clear: both;
}
.page-break {
	page-break-before: always; /* depreciating, use break-after */
	break-after: page;
	height: 0;
	display: block!important;
}
@media print {
	#personal-information,
	#preferred-job,
	#preferred-job-desc,
	#work-experience,
	#education-and-training,
	#personal-skills,
	#additional-information,
	h2,
	h3,
	h4 {
		font-size: 1rem;
	}
	h5 {
		font-size: 0.85rem;
	}
	h6 {
		font-size: 0.7rem;
	}
	.work-experience .card-header {
		margin-bottom: 0;
	}
	.work-experience .card-body {
		padding-top: 0;
	}
}