# Ignore WordPress core files and directories
/wp-admin/
/wp-includes/

# Ignore common WordPress files
.htaccess
index.php
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config.php
wp-config-sample.php
license.txt
readme.html
LICENSE
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php

# Ignore uploads and cache
/wp-content/uploads/
/wp-content/cache/
/wp-content/backups/
/wp-content/upgrade/
/wp-content/advanced-cache.php
/wp-content/object-cache.php
/wp-content/wp-cache-config.php
/wp-content/backup-db/
/wp-content/upgrade-temp-backup/
/wp-content/ai1wm-backups/

# Ignore plugins and themes (optional, if you don't want to track them)
/wp-content/plugins/
/wp-content/themes/twentytwentyfive/
/wp-content/themes/cv/.DS_Store
/wp-content/themes/cv/npm-debug.log
/wp-content/themes/cv/.sass-cache
/wp-content/themes/cv/node_modules
/wp-content/themes/cv/assets/sass/vendor
/wp-content/themes/cv/package-lock.json
/wp-content/themes/cv/*.map
/wp-content/themes/cv/**/*.map
/wp-content/themes/cv/yarn.lock


# Ignore log files and OS files
*.log
.DS_Store
Thumbs.db
local-xdebuginfo.php

# Ignore IDE and system files
/.idea/
/.vscode/
/node_modules/
/npm-debug.log

# Ignore custom directories
